@charset "utf-8";

html,body,div,p,em,strong,ul,li,dl,dd,dt,h1,h2,h3,h4,h5,h6,img{margin: 0; padding: 0;}
li{ list-style:none; float:left;}
i,em,strong{ font-style:normal; font-weight:normal;}
body{ font-family:"微软雅黑";}

.box_root{width: 1280px; height: 720px; background: url(images/back.jpg) no-repeat; position: relative;}
.but{top: 55px; right: 45px; position: absolute;}
.but li{width: 115px; height: 57px; line-height: 57px;background: url(images/but.png) center center no-repeat; font-size: 26px; color: #fff; text-align: center; }
.but li.currenta{background: url(images/buta.png) no-repeat;}
.num{top: 143px; right: 230px; position: absolute; font-size: 70px; font-weight: bold; color: #fec923; text-shadow: 2px 4px 2px #f00; text-transform: uppercase;  -webkit-text-stroke: 2px red;}

.luck_draw{width: 455px; height: 455px; top: 175px; left: 420px; position: absolute;}
.luck_draw1{width: 455px; height: 455px; background: url(images/table_bg.png);}
.luck_draw .poin{width:41px; height:102px; position:absolute; left:208px; top:-17px;}
.luck_draw .start{width: 190px; height: 190px; top:132px; left:132px; position: absolute;}
.luck_draw .start ul{ overflow:hidden;}
.luck_draw .start li{ width:190px; height: 190px; background: url(images/start.png) center center no-repeat;}
.luck_draw .start li.currenta{ background: url(images/starta.png) center center no-repeat;}
.luck_draw .decor{width: 227px; height: 466px; background: url(images/decor.png)no-repeat; left: -70px; top: 0;  position: absolute;}
.time{bottom: 60px; right: 10px; position: absolute; color: #bd3710; font-size: 24px; font-weight:bold; font-family:"黑体";}
.name{width: 1280px; height: 48px; bottom: 0; position: absolute; background: #a38a3d; overflow:hidden;}
.name ul{overflow: hidden; width:500%;}
.name li{ height:48px;font-size: 22px; color: #fff;line-height:48px; margin-right:80px;}

/*未中奖*/
.popup{ width:1280px; height:720px; position:absolute; left:0; top:0;}
.pop_z{ width:1280px; height:720px; position:absolute; left:0; top:0; position:absolute; width:100%; height:100%;  z-index:100; left:0; top:0; overflow:hidden; zoom:1; display:block;background: rgba(0, 0, 0, 0.7) !important; filter: alpha(opacity=70); background:#000;}
.luck{width: 600px; height: 470px;  position: absolute;left: 50%; top: 50%;  margin:-222px 0 0 -275px; z-index:111;}
.luck img{width: 530px; height: 318px; }
.luck .luck_but{width: 400px; height: 95px;top: 340px; left: 100px; position: absolute;}
.luck .luck_but li{width: 152px; height: 40px; line-height: 40px; text-align: center; font-size: 25px; font-weight: bold; color: #fff;  background: url(images/eject_but.png); margin-right: 48px;}
.luck .luck_but li.currenta{background: url(images/eject_buta.png);}

/*抽奖次数用完*/
.luck_nodraw{width: 600px; height: 470px;  position: absolute;left: 50%; top: 50%;  margin:-222px 0 0 -275px; z-index:111;}
.luck_nodraw img{width: 530px; height: 318px; }
.luck_nodraw .luck_but{width: 400px; height: 95px;top: 340px; left: 100px; position: absolute;}
.luck_nodraw .luck_but li{width: 152px; height: 40px; line-height: 40px; text-align: center; font-size: 22px; font-weight: bold; color: #fff;  background: url(images/eject_but.png); margin-right: 48px;}
.luck_nodraw .luck_but li.currenta{background: url(images/eject_buta.png);}
/*获得一等奖*/
.winning{width: 595px; height: 640px; position: absolute;left: 50%; top: 50%;  margin:-222px 0 0 -275px; z-index:111;}
.winning img{width: 620px; height: 390px; margin:-68px 0 0 -35px;}
.winning p{font-size: 17px; color: #fff;left: 75px; position: absolute;}
.winning .prize{ width:495px; height:113px; position:absolute; left:-10px; top:350px; }
.winning .prize ul{ overflow:hidden;    margin-bottom: -20px; }
.winning .prize li{ width:415px; height:70px; margin-left: 80px;  }
.winning .prize input{ width:415px; height:70px; font-size:20px; color:#464646; text-align: center; letter-spacing:3px; background:url(images/prize-li.png) center center no-repeat; border:none; outline:none;}
.winning .prize li.currenta{background:url(images/prize-lia.png) center center no-repeat; border:none;}
.winning .luck_but{width: 400px; height: 95px;top: 465px; left: 93px; position: absolute;}
.winning .luck_but li{width: 152px; height: 40px; line-height: 40px; text-align: center; font-size: 22px; font-weight: bold; color: #fff;  background: url(images/eject_but.png); margin-right: 48px;}
.winning .luck_but li.currenta{background: url(images/eject_buta.png);}

/*拦截页*/
.box{width: 1280px; height: 720px;  position: relative;}
.main{width:950px; height:550px; background:url(images/inter_bg.jpg) no-repeat; position:absolute; left:50%; top:50%; margin:-225px 0 0 -475px;}
.but01{top: 20px; right: 30px; position: absolute;}
.but01 li{width:115px; height: 57px; line-height: 56px;text-align: center; background: url(images/but.png) center center no-repeat; font-size: 22px; color: #fff;}
.but01 li.currenta{text-align: center; background: url(images/buta.png) center center no-repeat;}
.main .lj_but{ width:182px; height:74px; position: absolute; top: 415px; left: 395px;  z-index: 111;}
.main .lj_but ul{ overflow: hidden;width:182px; height:74px;}
.main .lj_but li{width:182px; height:74px; line-height: 74px; background:url(images/lj_but.png) center center no-repeat;}
.main .lj_but li.currenta{background:url(images/lj_buta.png) center center no-repeat;}